* {
    padding: 0;
    margin: 0;
    text-align: center;
    text-decoration: none;
}

header{
    font-size: 20px;
    color:darkcyan;
    text-align:center;
}

ul {
    text-align: center;
}

#construction {
    color:aquamarine;
}

#hero-image{
   padding: 0;
}