* {
    padding: 0;
    margin: 0;
    text-align: center;
    text-decoration: none;
    font-family: Oswald, sans-serif;
    color: coral;
    max-width:fit-content;
}

header{
    font-size: 150px;
    color:darkorange;
    text-align:center;
    background-image: url("edmund-fitzgerald-1.jpg");
}

body {
    background-color:black;
}

ul {
    display:inline-flex;
    list-style-type: none;
}

li{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 0px;
    padding-bottom: 150px;    
}



#construction {
    font-size: 40px;
}

#career {
    padding-top: 50px;  
}

#sinking {
  color:aliceblue
}

#hero-image{
   padding: 0;
   align-items: center;
}

#boat-launch-img{
    padding-bottom: 50px;
    width: 50vw;
    height: auto;
    float: left;
}

#container {
    position: relative;
    text-align: justify;
}