* {
    padding: 0;
    margin: 0;
    text-align: center;
    text-decoration: none;
    font-family: Oswald, sans-serif;
    color: coral;
    max-width: 100vw;
}

header{
    font-size: 50px;
    color:darkorange;
    text-align:center;
    background-image: url("edmund-fitzgerald-1.jpg");
}

body {
    background-color:black;
}

ul {
    display:inline-flex;
    list-style-type: none;
}

li{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 0px;
    padding-bottom: 150px;    
}


#career-heading{
    font-size: 40px;
    padding-left: 150px;
    padding-right: 150px;
}

#career-section {
    font-size: 25px;
    color:aliceblue;
    padding-left: 150px;
    padding-right: 150px;
}

#sinking-heading{
    font-size: 40px;
    padding-left: 150px;
    padding-right: 50px;
}

#sinking-section {
    padding-top: 50px;
    font-size: 25px;  
    color:aliceblue;
    padding: 150px;
    padding-right: 150px;
}

#search-heading{
    font-size: 40px;
    padding-left: 150px;
    padding-right: 150px;
}

#search-section {
  font-size: 25px;
  padding-top: 50px;
  color:aliceblue;
  padding-left: 150px;
  padding-right: 150px;
}


#hero-image{
   padding: 0;
   align-items: center;
}

#boat-launch-img{
    padding-bottom: 50px;
    width: 50vw;
    height: auto;
    float: left;
}

#container {
    position: relative;
    text-align: justify;
}

#video-playback {
    height: 50vh;
    width: 50vw;
}

#video-header {
    color:crimson
}